#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-encabezado {
  min-height: 15vh;  
  border-bottom: 10px solid #0b0606;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: flex-start;
  align-content: space-between;
}

.enlace a {
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
}

.enlace a:hover {
  color: #ebd219;
  background-color: transparent;
  font-weight: bold;
}