.titulo-importante {
    font-weight: bold;
    font-size: 45px;
    font-family: "Black Han Sans", sans-serif;
}

.item-list {
    background-color: #c0bebd;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content:center;
    padding: 10px;
}
